<div class="container">
<form name="registerForm" class="form-horizontal" action=''>
  <fieldset>
    <div id="legend">
      <legend class="">Failed to login</legend>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" ng-model="email" required>
      </div>
    </div>
 
    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <p>{{ password | countInputFilter }}</p>
      <div class="controls">
        <input type="password" id="password" name="password" placeholder="" class="input-xlarge" ng-model="password" required>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" ng-click="login()">Login</button>
      </div>
    </div>
  </fieldset>
</form>
</div>