	<main class="main-content">
				<div class="container">
					<div class="page">

						<div class="content">
							<div class="row">
								<div class="col-md-6">
									<figure class="movie-poster"><img class="poster" ng-src={{poster}} alt="#"></figure>
								</div>
								<div class="col-md-6">
									<h2 class="movie-title">{{ movie.title }}</h2>
									<div class="movie-summary">
                    				<p>{{ movie.overview }}</p>
                					</div>
									<ul class="movie-meta">
										<li><strong>Length:</strong> {{ movie.runtime }} min</li>
										<li><strong>Premiere:</strong> {{movie.release_date | date:fullDate}}</li>
										<li><strong>Category:</strong><span ng-repeat="genre in genres"> {{genre.name}}{{$last ? '' : ', '}} </li>
                    					<li><strong>Budget:</strong> {{ movie.budget | currency}}</li>
										<li><strong>Stars:</strong><span ng-repeat="actor in cast | limitTo : 4"> {{actor.name}}{{$last ? '' : ', '}}</li>
									</ul>
								</div>
							</div> <!-- .row -->
						</div>
					</div>
				</div> <!-- .container -->
			</main>

<div class="container movieRecommended">
  <div class="row">
    <h2 class="recommendedTitle">Recommended Movies</h2>
  </div>
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>      
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>

<div class="container">
	 <div id="reviews" class="row"> 
     <div class="col-md-12 blogShort">
     <h1>Reviews</h1>
     </div>

                 <div class="col-md-12 blogShort" ng-repeat="review in reviews">
                     <article><p> {{ review.review}} </p></article>
                           <div class="btn-group pull-right marginBottom10">
                              <button type="button" class="btn btn-primary btn-warning" ng-show="review.username === currentUser.username" ng-click="editReview(review)">Edit</button>
                              <button type="button" class="btn btn-primary btn-success" ng-click="reviewPage(review.reviewID)">Read more</button>
                              <button type="button" class="btn btn-primary btn-danger" ng-show="review.username === currentUser.username" ng-click="deleteReview(review)">Delete</button>
                          </div>
               <div class="col-md-12 gap10"></div>
             </div>
</div>

<div class="container" ng-show="isAllowed">
  <textarea class="writeReview" ng-model="review"></textarea>
  <div class="text-right">
  <button type="button" class="btn btn-primary btn-success pull-right" ng-click="saveReview()">Save</button>
  </div>
</div>

